<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/css/styles.css">
    </head>
    <body>
        <div class="main-content">
 <h1>ABOUT</h1>
        {{>header}}
        </div>
       
        {{>footer}}
    </body>
</html>
